body {
	background-color: gray;
}

#headerbg {
	background-image: url('https://i.imgur.com/mJVUwCf.jpg');
	background-repeat: no-repeat;
	height: 50%;
	width: 100%;
}

#headerbg p {
	color: white;
	position: absolute;
	text-align: center;
	font-variant: small-caps;
	font-family: arial;
	font-size: 80px;
	top: 100px;
	left: 0px;
	width: 100%;
	background-color: black;
	opacity: 0.8;
}

body {
	background-color: gray;
}

#funfacts {
	font-variant: small-caps;
	font-size: 40px;
}
