.music {
    display: none;
}

.background {
    height: 100%;
    color: black;
}

body {
    background-color: white;
    background-image: url('https://c1.staticflickr.com/7/6090/6088344164_1d8e5a17d2_b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.information {
    color: white; 
    text-align: center;
    font-family: Arial;
    -webkit-text-stroke: 5px black;
}


.media {
    color: white;
    text-align: center;
    font-family: Arial;
    text-transform: lowercase;
}